body, #root {
    background: #0f1013;
}

a:hover {
    text-decoration: none !important;
    color: #fff;
}
.swiper-slide {
    width: 100% !important;
}
.kep-login-facebook{
    opacity: 1 !important;
    border:2px solid #3b5998 !important;
    background:url(../img/icon/fb.png) no-repeat 25px #3b5998 !important;
    color:#fff !important;
    background-size: 18px !important;
    font-family: 'GothamPro-Bold' !important;
    width:90% !important;
    margin:auto !important;
    text-indent: 22px !important;
    display: block !important;
    text-transform: inherit !important;
    transition: none !important;
    border-radius: 7px !important;
    padding: 0 !important;
    height: 50px !important;
}

.rc-tabs-top .rc-tabs-nav-swipe{
    transition: .2s all ease-in-out;
}

.rc-tabs-top .rc-tabs-nav-swipe .rc-tabs-nav .rc-tabs-tab {
    color: #b5b5b5;
    font-size: 13px;
    padding: 0;
    line-height: 46px;
    height: 45px;
}

.rc-tabs-tab-active, .rc-tabs-tab-active:hover {
    color: #fff !important;
    font-family: GothamPro-Medium;
}

.rc-tabs-top .rc-tabs-ink-bar {
    height: 6px;
    background: #df4939;
}
.rc-tabs-bar, .rc-tabs-nav-container{
    width: 100%;
}

.rc-tabs-bar {
    max-width: 375px;
    margin: auto;
    left: 0;
    right: 0;
}
.rc-tabs-ink-bar {
    max-width: 33.3%;
}
.rc-tabs-top{

    border-bottom:0;
}
.rc-tabs-top .rc-tabs-bar {
    border-bottom:0;
    position: fixed;
    left: 0;
    z-index: 2;
    background: url(/img/bg.jpg) repeat-y;
}

.rc-tabs-top .rc-tabs-content-animated .rc-tabs-tabpane {
    padding-top: 45px;
}

.control-item {
    width: 81px;
    float: right;
    height: 24px;
}

.numbers-item {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #e74b3b;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.numbers-item__button {
    max-width: 30%;
    min-width: 30%;
    min-height: 100%;
    max-height: 100%;
    background: #e74b3b;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.numbers-item__numbers {
    margin: 0;
    min-height: 100%;
    max-height: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    flex:1;
}

.numbers-item__active {
    cursor: pointer;
}

.numbers-item__button p {
    margin: 0;
    line-height: 1;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: -4px;
}

.swiper-pagination {
    display: none !important;
}